<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!--suppress WebProperties, WebProperties -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!--IMPORTANT: Ordering is essential. 1st Shiro (security), then the rest -->
    <!--For Security Management  -->
    <!--
        <listener>
            <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
        </listener>

        <filter>
            <filter-name>ShiroFilter</filter-name>
            <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
        </filter>

        <filter-mapping>
            <filter-name>ShiroFilter</filter-name>
            <url-pattern>/*</url-pattern>
            <dispatcher>REQUEST</dispatcher>
            <dispatcher>FORWARD</dispatcher>
            <dispatcher>INCLUDE</dispatcher>
            <dispatcher>ERROR</dispatcher>
        </filter-mapping>
    -->

    <!--
        <listener>
            <listener-class>uk.ac.open.kmi.iserve.sal.rest.RegistryManagerContextListener</listener-class>
        </listener>
    -->
    <!-- Guice Filter should also come early -->
    <!--
        <filter>
            <filter-name>guiceFilter</filter-name>
            <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
        </filter>

        <filter-mapping>
            <filter-name>guiceFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>
    -->

    <!-- For direct load of static content> -->
    <!--<filter>-->
    <!--<filter-name>default</filter-name>-->
    <!--<filter-class>uk.ac.open.kmi.iserve.sal.rest.DefaultFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
    <!--<filter-name>default</filter-name>-->
    <!--<url-pattern>/lda-assets/*</url-pattern>-->
    <!--<url-pattern>*.ico</url-pattern>-->
    <!--</filter-mapping>-->

    <!-- For Elda -->
    <!--<context-param>-->
    <!--<param-name>com.epimorphics.api.initialSpecFile</param-name>-->
    <!--<param-value>-->
    <!--specs/iserve.ttl-->
    <!--</param-value>-->
    <!--</context-param>-->

    <!--<listener>-->
    <!--<listener-class>com.epimorphics.lda.restlets.RouterRestlet$Init</listener-class>-->
    <!--</listener>-->

    <!-- Replace with our own R/W one -->
    <!--<listener>-->
    <!--<listener-class>uk.ac.open.kmi.iserve.sal.rest.resource.ReadWriteRouterServlet$Init</listener-class>-->
    <!--</listener>-->

    <filter>
        <filter-name>iServe SAL REST Filter</filter-name>
        <filter-class>uk.ac.open.kmi.iserve.sal.rest.SalRestFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>iServe SAL REST Filter</filter-name>
        <url-pattern>/id/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>iServe SAL REST Endpoint</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>uk.ac.open.kmi.iserve.sal.rest.RegistryManagementWebApplication</param-value>
        </init-param>

        <!--<init-param>-->
        <!--<param-name>jersey.config.server.provider.packages</param-name>-->
        <!--<param-value>com.epimorphics.lda.restlets;uk.ac.open.kmi.iserve.sal.rest.resource</param-value>-->
        <!--</init-param>-->

        <!-- JSP -->
        <!--<init-param>-->
        <!--<param-name>jersey.config.server.mvc.templateBasepath.jsp</param-name>-->
        <!--<param-value>/jsp</param-value>-->
        <!--</init-param>-->
        <init-param>
            <param-name>com.sun.jersey.config.property.WebPageContentRegex</param-name>
            <param-value>/(images|js|css|jsp)/.*</param-value>
        </init-param>

        <init-param>
            <param-name>jersey.config.servlet.filter.forwardOn404</param-name>
            <param-value>true</param-value>
        </init-param>

        <init-param>
            <param-name>org.glassfish.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>org.glassfish.jersey.api.container.filter.PostReplaceFilter</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>iServe SAL REST Endpoint</servlet-name>
        <url-pattern>/id/*</url-pattern>
    </servlet-mapping>


    <!--<welcome-file-list>-->
    <!--<welcome-file>jsp/index.jsp</welcome-file>-->
    <!--</welcome-file-list>-->

</web-app>
