<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <filter>
        <filter-name>Discovery Filter</filter-name>
        <filter-class>uk.ac.open.kmi.iserve.discovery.engine.rest.DiscoveryFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Discovery Filter</filter-name>
        <url-pattern>/discovery/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>Discovery Endpoint</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>uk.ac.open.kmi.iserve.discovery.engine.rest.DiscoveryEngineWebApplication
            </param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Discovery Endpoint</servlet-name>
        <url-pattern>/discovery/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>GuiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GuiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>uk.ac.open.kmi.iserve.discovery.engine.rest.Main</listener-class>
    </listener>

</web-app>
