<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<context-param>
		<param-name>config-file</param-name>
		<param-value>config.properties</param-value>
	</context-param>

	<!-- Servlets -->
	<servlet>
		<servlet-name>Jersey Web Application for Resources</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>

		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>uk.ac.open.kmi.iserve2.sal.rest;uk.ac.open.kmi.iserve2.discovery.engine;uk.ac.open.kmi.iserve2.discovery.disco</param-value>
		</init-param>

		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
			<param-value>uk.ac.open.kmi.iserve2.sal.rest.auth.SecurityFilter</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>serviceBrowseService</servlet-name>
		<servlet-class>uk.ac.open.kmi.iserve2.sal.gwt.server.ServiceBrowseServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>openid</servlet-name>
		<servlet-class>uk.ac.open.kmi.iserve2.sal.gwt.server.servlets.OpenIdServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>uk.ac.open.kmi.iserve2.sal.gwt.server.servlets.UploadFileServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>uk.ac.open.kmi.iserve2.sal.gwt.server.servlets.DownloadFileServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jersey Web Application for Resources</servlet-name>
		<url-pattern>/resource/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Jersey Web Application for Resources</servlet-name>
		<url-pattern>/page/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Jersey Web Application for Resources</servlet-name>
		<url-pattern>/data/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Jersey Web Application for Resources</servlet-name>
		<url-pattern>/sparql</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Jersey Web Application for Resources</servlet-name>
		<url-pattern>/execute-query</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Jersey Web Application for Resources</servlet-name>
		<url-pattern>/oauth/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>serviceBrowseService</servlet-name>
		<url-pattern>/iServeBrowser/browse</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>openid</servlet-name>
		<url-pattern>/iServeBrowser/CallOpenID</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/iServeBrowser/upload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/iServeBrowser/download</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>browser.html</welcome-file>
	</welcome-file-list>

</web-app>